html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0c233a;
  letter-spacing: 0.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  color: #b9cadf;
}
